<td>
  <a href='/lists/<%=list.id%>/tasks'><%= list.title %></a>
  <a href='/lists/<%=list.id%>/edit'><button>Edit</button></a>
  <form id='delete-list' action='/lists/<%=list.id %>' method="post">
    <input name="_method" type="hidden" value="delete">
    <input type="submit" value="Delete">
  </form>
</td>
<td><%= list.tasks.count %></td>
<td><%= list.tasks.where(status: true).count%></td>
<td><%= list.created_at %></td>
