
  <% if logged_in?%>
  <div class="main-body">
  <div class="welcome">
    <h1>Create New Todo List</h1>
    <blockquote >
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
    </blockquote>
  </div>

    <% if @lists%>
    <div class="todo-list">
      <ul class="lists">
        <% @lists.each do |list|%>
          <li>
            <div class="btn-edit list-btn">
              <a href="/lists/edit">edit</a>
              <!-- <form action="/lists/<%= list.id%>" method="post">
                <input type="hidden" name="_method" value="put">
                <button type="submit">edit</button>
              </form> -->
            </div>
            <div class="btn-delete list-btn">
              <form action="/lists/<%= list.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                  <button type="submit">X</button>
              </form>
            </div>
            <h3 class="list-header"><a href="list/<%=list.id%>"><%= list.name %></a></h3>
            <ul class="tasks">
              <%list.tasks.limit(3).each do |task|%>
              <li><%= task.description%></li>
              <%end%>
            </ul>
          </li>
          <%end%>
      </ul>
    </div>
  </div>
    <%end%>
  <!-- else show form -->
  <% else %>
  <%= erb :"_login" %>
  <% end %>
