<div class='container'>
<h3>Here's your current tasks for the "<%= @list.title %>" list :</h3>

<div >
  <button id='task-button'><span><a href="/lists/<%=@list.id%>/tasks/new">Create Task</a></span></button>
</div>
  <table align="center">
    <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Task Status</th>
      <th>Date Created</th>
    </tr>
      <% @list.tasks.each do |task| %>
    <tr>
      <td><%= task.name %>
        <a href='/lists/<%=@list.id%>/tasks/<%=task.id %>/edit'>Edit</a>

        <form action='/lists/<%=@list.id %>/tasks/<%= task.id %>' method="post">
          <input name="_method" type="hidden" value="delete">
          <input type="submit" value="Delete">
        </form>
      </td>
      <td><%= task.description %></td>
      <td><%= task.status_check %>
        <% if task.status %>
        <form action='/lists/<%=@list.id%>/tasks/<%=task.id %>/status' method="post">
          <input name="_method" type="hidden" value="put">
          <input name="complete" type="hidden" value="true">
          <input type="submit" value="Mark Incomplete">
        </form>
        <% else %>
          <form action='/lists/<%=@list.id%>/tasks/<%=task.id %>/status' method="post">
          <input name="_method" type="hidden" value="put">
          <input name="complete" type="hidden" value="false">
          <input type="submit" value="Mark Complete">
        </form>
        <% end %>
      </td>
      <td><%= task.created_at %></td>
    </tr>
      <% end %>
  </table>
</div>
