<div class="container">
  <div class="list_container" id="<%=@list.id%>">
  <h1> <%= @list.title %> </h1>
  </div>

  <% if @tasks %>
  <ul class="list">
  <% @tasks.each do |task| %>
    <li class="list-item">
      <%=task.body %>:
      <% if @list.user_id == current_user && !task.completed %>
        <a href="/tasks/complete/<%=task.id%>">Complete Task!</a>
      <%end%>
    </li><br>
  <% end %>
  </ul>
  <% end %>

  <% if @list.user_id == current_user %>
  <a class="style_button" id="task_button" href="/tasks/create">Create A Task!</a><br><br>
  <% end %>
  <div id="add_task">
  <form action="/tasks/create" method="post" id="new_task_form" class="register_form hidden">
    <label for="task[body]">Task Description:</label><br>
    <textarea rows="3" cols="50" name="task[body]"> </textarea><br><br>
    <input type="hidden" name="task[list_id]" value="<%=@list.id%>" >
    <input type="submit" value="Create Task" id="task_submit_button" class="style_button">
  </form>
  </div>

</div>
