<div class='container'>
  <h1><a href="/lists/<%= @task.list.id %>"><%= @task.name %></a></h1>
  <h4><a href="/lists/<%= @task.id %>/edit">Edit Task</a></h4>
  <p>Description: <%= @task.description %></p>
  <p>Task is part of list: <%= @task.list.title %></p>
  <p>Date created: <%= @task.created_at %></p>

  <% 30.times do %>
    <br>
  <% end %>

</div>
